name: Tests Bohr-DB
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  tests-et-couverture:
    name: Test on Node.js
    runs-on: ubuntu-latest
    steps:
      - name: Préparation de Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Installer pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Ouvrir la branche
        uses: actions/checkout@v5

      - name: Nétoyer les dépendances d'installation
        run: pnpm install --lockfile=false

      - name: Vérifier les tests
        run: pnpm test

      - name: Envoyer couverture à Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
